html, body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

* {
	box-sizing: border-box;
}

table {
	min-width: 100%;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.col-full {
	max-width: 1240px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	&.pa0, &.ph0 {
		padding-left: 0;
		padding-right: 0;
	}
	.col-full {
		padding: 0;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.has-text-align- {
	&center {
		text-align: center;
	}

	&left {
		text-align: left;
	}

	&right {
		text-align: right;
	}
}

.align {
	&center {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	&left {
		float: left;
	}

	&right {
		float: right;
	}
}

hr.is-style-wide {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	a, a:hover {
		color: inherit;
	}
}
