.site-branding + .site-navigation {
	margin-left: auto;
	padding-left: 2em;
}

.menu ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mobile-navigation ul li,
.mobile-navigation ul.children li {
	width: 100%;
}

.main-navigation ul li {
	position: relative;
	dusplay: block;
}

.main-navigation ul li ul {
	display: none;
}

.main-navigation ul li:hover ul,
.main-navigation ul li a:focus + ul {
	display: block;
	position: absolute;
	top: 100%;
	left:0;
}
